html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
* {
    box-sizing: inherit;
}
body {
}
main {
    margin: 90px auto;
    width: 1000px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    display: flex;
    justify-content: space-between;
}
.calc {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 8px solid darkred;
    width: 600px;
    border-radius: 20px;
    
}
.res {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    overflow: hidden;
    margin: 40px;
    background-color: brown;
    border-radius: 40px;
}
.res span {
    margin: 6px;
    color: white;
    padding-top: 40px;
    margin-bottom: 10px;
    height: 160px;
    max-width: 500px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.numbers {
    background-color: bisque;
    margin: 40px;
}
.math__symbols {
    display:flex;
    gap: 30px;
    flex-direction: column;
    background-color: bisque;
    padding-top: 20px;
    margin: 40px;
    align-items: center;
}
button {
    border: none;
    border-radius: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    transition: 0.2s ease-in-out;
}
.grid__container_1 button:hover {
    cursor: pointer;
    background-color: darksalmon;
    transform: scale(1.2);
}
.grid__container_1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}
.grid__container_2 button {
    border: none;
    width: 200px;
    border-radius: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    transition: 0.2s ease-in-out;
}
.grid__container_2 button:hover {
    cursor: pointer;
    background-color: darksalmon;
    transform: scale(1.1);
}
.grid__container_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.calculate {
    margin: 0 auto;
    background-color: burlywood;
    position: relative;
    overflow: hidden;
    width: 400px;
}
.calculate:hover {
    transform: scale(1);
    cursor: pointer;
}
.calculate::after{
    content: "Calculate!";
    position: absolute;
    background-color: indianred;
    width: 400px;
    left: 400px;
    transition: 0.5s ease-in-out;
}
.calculate:hover::after{
    transform: translateX(-400px);
}
.sidebar {
    padding: 15px;
    border-radius: 20px;
    border: 8px solid darkred;
    background-color: bisque;
    text-align: center;
}
.sidebar label {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 35pt;
}
.history {
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.history span:first-child {
    padding-top: 10px;
}
.history span {
    position: relative;
    font-size: 20pt;
    text-overflow: ellipsis;
    height: fit-content;
    padding: 0;
    animation: 1s history ease-in-out;
}

@keyframes history {
    0% {
        transform: translateX(300px);
        font-size: 40pt;
    }
    100% {
        transform: translateX(0px);
        font-size: 20pt;
    }
}